<html>
  <head>
    <style type="text/css">
      body {
        background: white;
        color: red;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid blue;
        padding: 10px;
        text-align: center;
      }
      h4 {
        #text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Namaskar Bhubaneshwar!!</h4>
      <h4>We have automated Docker image creation & deploying containers!!</h4>
      <h4>Automated using Docker, AKS and Azure DevOps!!!!!</h4>
      <br>
       <h4>Keep learning!!!!!</h4>
    </div>
  </body>
</html>